
// Fluidable Grid System 1.1.1
//
// Creator: Andri Sigurðsson
// Converted to Sass: Peter Morris (http://yetanotherpete.com)
// Site: http://fluidable.com
// Date: 11.12.2013
// SASS Date: 20140718

// Positioning

@mixin center-block {
  margin: 0 auto;
}

// Clearfix

@mixin clear {
  zoom: 1;
  &:after {
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
    content: ".";
  }
}

// Mobile and up

.col-group {
  @include clear();
}

.col-group [class*="col-"] {
  padding-left: $gutterWidth / 2;
  padding-right: $gutterWidth / 2;
  min-height: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.col-group [class*="push-"],
.col-group [class*="pull-"] {
  position: relative;
}

// Columns

@for $i from 1 through $columns {
  .col-mb-#{$i} {
    width: $columnWidth * $i;
    float: left;
    padding-right: $gutterWidth / 2;
    padding-left: $gutterWidth / 2;
  }
}

// Tablet and up

@media (min-width: $screenTablet) {

  .container {
    max-width: $screenTablet - ($gutterWidth * 2);
    @include center-block();
  }

  // Columns

  @for $i from 1 through $columns {
    .col-#{$i} {
      width: $columnWidth * $i;
      float: left;
    }
  }

  // Offset

  @for $i from 0 through $columns {
    .col-offset-#{$i} {
      margin-left: $columnWidth * $i;
    }
  }

  // Pull

  @for $i from 0 through $columns {
    .col-pull-#{$i} {
      right: $columnWidth * $i;
    }
  }

  // Push

  @for $i from 0 through $columns {
    .col-push-#{$i} {
      left: $columnWidth * $i;
    }
  }

  // Groups

  .col-group {
    margin-right: $gutterWidth / -2;
    margin-left: $gutterWidth / -2;
    @include clear();
  }

}

// Desktop and up

@media (min-width: $screenDesktop) {

  .container {
    max-width: $screenDesktop  - ($gutterWidth * 2);
    @include center-block();
  }

  // Columns

  @for $i from 1 through $columns {
    .col-dt-#{$i} {
      width: $columnWidth * $i;
      float: left;
    }
  }

  // Offset

  @for $i from 0 through $columns {
    .col-dt-offset-#{$i} {
      margin-left: $columnWidth * $i;
    }
  }

  // Pull

  @for $i from 0 through $columns {
    .col-dt-pull-#{$i} {
      right: $columnWidth * $i;
    }
  }

  // Push

  @for $i from 0 through $columns {
    .col-dt-push-#{$i} {
      left: $columnWidth * $i;
    }
  }
}

// Large desktop and up

@media (min-width: $screenLarge) {

  .container {
    max-width: $screenLarge  - ($gutterWidth * 2);
    @include center-block();
  }

  // Columns

  @for $i from 1 through $columns {
    .col-ld-#{$i} {
      width: $columnWidth * $i;
      float: left;
    }
  }

  // Offset

  @for $i from 0 through $columns {
    .col-ld-offset-#{$i} {
      margin-left: $columnWidth * $i;
    }
  }

  // Pull

  @for $i from 0 through $columns {
    .col-ld-pull-#{$i} {
      right: $columnWidth * $i;
    }
  }

  // Push

  @for $i from 0 through $columns {
    .col-ld-push-#{$i} {
      left: $columnWidth * $i;
    }
  }
}